<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="MybatisSampleApplication (local)" type="Application" factoryName="Application">
    <option name="INCLUDE_PROVIDED_SCOPE" value="true" />
    <option name="MAIN_CLASS_NAME" value="com.heyrudy.mybatissample.MybatisSampleApplication" />
    <module name="mybatis-sample" />
    <option name="VM_PARAMETERS" value="-Dspring.profiles.active=local" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>